header {
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    padding:0;
}

header img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}
nav {
    border: 1px solid black;
    background-color: lightcyan;
}

div.wrapping {
    width: 80%;
    display:flex;
    margin: 0 auto;
}

aside {
    flex: 1;
}

main {
    flex: 4;
    border: 1px solid black;
    margin-left: 1em
}

footer {
    border: 1px solid black;
    background-color: rgb(0, 51, 153);
    width: 80%;
    margin: 0 auto;
    position:relative;
    height: 5rem;
    font-size: 1.6rem;
}

nav ul {
    margin: 0%;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 0.5em
}
.clearfix:after {
    clear: both;
    display: block;
    content: "" ;
}

p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
    margin:0 auto;
}

h1 {
    padding: 10px;
    margin-bottom: 1em;
}
h2 {
    font-style:oblique;
    margin-bottom: 1.5em;
}

blockquote {
    font-style: italic;
    padding: 1.5em;
    font-size: 1.5em ;
}

main {
    background-color: beige;
}

main img {
    width: 320px;
    image-resolution:inherit;
}

main a {
    color: rgb(0, 59, 252);
}

main a:hover {
    background-color: blue;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:white;
    font-size: 2.5rem;
}

fieldset {
    background-color:lightskyblue;
    border: 1px solid black;
}
